body
{
  background: #303030;
  margin: 0 !important;
}

#wrapper
{
  width: 100%;
}

.logod
{
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

a.logo
{
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 60px;
}

.navbar
{
  width: 100%;
	padding: 10px 0;
	background-color: #1b5bc1;
	text-align: center;
	border-top: 1px solid #071833;
	border-bottom: 1px solid #071833;
}

.content
{
  width: 1000px;
}

.social
{

}

.footer
{

}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
  transition: 1s ease-in-out;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
  transition: 0.2s ease-in-out;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

li.konto
{
  background-color: #2f911e;
}

ol > li:hover
{
	background-color: #116be2;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#116be2;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
  transition: 0.2s ease-in-out;
}

ol > li > ul > li:hover
{
	background-color: #103a7c;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}
