body
{
  margin: 0 !important;
  text-decoration: none;
  background-color: #000;
}

.top
{
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

a.logo
{
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 80px;
}

.reg
{
  color: white;
  border-radius: 5px;
  border: 3px solid #1b5bc1;
  margin: 5px;
  background-color: #303030;
}

.navbar
{
  width: 100%;
	padding: 10px 0;
	background-color: #1b5bc1;
	text-align: center;
	border-top: 1px solid #071833;
	border-bottom: 1px solid #071833;
  margin-bottom: 10px;
}

a
{
  text-decoration: none !important;
}

a.back:visited
{
  color: white;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}
